/*
* @Author: Dell
* @Date:   2017-07-21 19:32:26
* @Last Modified by:   Dell
* @Last Modified time: 2017-07-22 09:59:09
*/
.nav{
	background: #eee;
	height: 30px;
	line-height: 30px;
}
/* 用户部分 */
.nav .user{
	float: left;
}
.nav .user.login{
	display: none;
}
.nav .user .link{
	margin-right: 5px;
}
/* 导航链接部分 */
.nav .nav-list{
	float: right;
	margin: 0px;
}
.nav .nav-list .nav-item{
	display: inline-block;
	margin-left: 5px;
}